h1{

background-color: aqua;

}

body{background: linear-gradient(90deg, rgb(197, 197, 197), rgb(162, 200, 202), rgb(213, 255, 242)
    );}

img{
    
    width: 333px;
    height: 400
    px;
    border-radius: 15%;

}